.panel {
  text-align: center;
  padding: 10px;
  max-width: 300px;
}
:root {
  --boxshadow: 1px 2px 10px 0px rgba(50, 50, 50, 0.35);
  --borderradius: 5px;
}

.text-section-header {
  color: green;
  text-align: center;
}

#tabs-list {
  text-align: center;
}

#chat-id {
  margin-top: 5px;
  display: block;
}

#chat-name {
  width: 100px;
  margin-top: 5px;
  display: block;
}

.detail-box {
  background-color: lightgrey;
  width: 100%;
  resize: none;
}

.send-button {
  background-color: #45a1ff;
  border: none;
  cursor: pointer;
  border-radius: var(--borderradius);
  padding: 3px;
  margin: 3px;
  height: 30px;
  box-shadow: var(--boxshadow);
  width: 80%;
}

.chat-button {
  background-color: #202340;
  border: none;
  color: #fff;
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
  padding: 3px;
  margin: 3px;
  height: 30px;
  cursor: pointer;
  width: 25%;
}
